@import "tailwindcss";

@theme {
  --animate-swipe: swipe 2s ease-in-out infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes swipe {
    0%,
    100% {
      transform: translateX(-10px) rotate(-10deg);
    }
    50% {
      transform: translateX(10px) rotate(10deg);
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}
